.button-row {
  z-index: 1001;
  min-width: 800px;
  display: flexbox;
  width: 70%;
  height: 50px;
  margin-left: 15%;

  .get-enemy {
    display: flex;
    float: left;
    width: 15%;
    margin-left: 2%;
  }
  .menu {
    display: flex;
    float: left;
    width: 15%;
    margin-left: 2%;
  }
  .merchant {
    display: flex;
    float: left;
    width: 15%;
    margin-left: 2%;
  }


}

.status-row {
  min-width: 800px;
  margin-top: -10px;
  width: 70%;
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  margin-left: 15%;
  .attack {
    display: flexbox;
    float: left;
    width: 20%;
    font-size: 20;
    margin-left: 5px;
    .select{
      width: 60%;
    }
      button{
        display: flex;
        width: 100%;
        line-height: 57px;
      }
      button:disabled{
        background-color: white;
        color: lightgrey;
      }
    }
  .player-stats {
    display: flexbox;
    border: 1px solid gray;
    border-radius: 5px;
    width: 20%;
    height: 100%;
    h3{
      color: blue;
      font-size: 1.1rem;
      margin-top: 2%;
      margin-bottom: -1%;
    }
    .player-data {
      width: 90%;
      margin-left: 10%;
    }
  }
}
.opponent-container {
  display: flexbox;
  border: 1px solid #808080;
    border-radius: 5px;
    width: 20%;
    height: 100%;
  .opponent {
    display: flexbox;
    width: 90%;
    margin-left: 10%;
    h3 {
      color: green;
      font-size: 1.1rem;
      margin-top: 2%;
      margin-bottom: -1%;
    }
  }
}
.output {
  display: flexbox;
  clear: none;
  margin-left: 2%;
  width: 40%;
  p {
    display: flex;
    clear: left;
    width: 100%;
    font-size: 1.2rem;
  }
  .last{
    border-radius: 5px;
    background-color: rgba(226, 226, 226, 0.5);
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
  }
}
.enemy-damage-output{
  position: absolute;
  color:white;
    top: 250px;
    left: 60%;
    z-index: 2;
    font-size: 50px;
    // transition: all .7s linear;
    // transform: translate(0px, -20px);
}
.player-damage-output{
  position: absolute;
  color: white;
    top: 230px;
    left: 20%;
    font-size: 18px;
    z-index: 1000;
    // transition: all .7s linear;
    // transform: translate(0px, -20px);
}

