
<div class="button-row">
  <div class="menu">
    <button mat-raised-button (click)="menuModal()">open inventory</button><br />
  </div>
  <div class="merchant">
    <button [disabled]="enemyHp > 0" mat-raised-button (click)="merchantModal()">
      talk to Merchant</button><br />
  </div>
  <div class="get-enemy">
    <button [disabled]="enemyHp > 0" mat-raised-button (click)="getEnemy()">Find New Opponent</button><br />
  </div>
  <div class="attack">
    <button mat-raised-button [disabled]="wait || player.hp < 1" (click)="attack()">Attack</button><br />
  </div>
</div>

<div class="status-row">
  <div class="player-stats">
    <h3><b>HP: {{ player?.hp }}/{{ player?.maxHp }}</b></h3>
    Weapon: {{ playerItem?.mainWeapon.name }}<br>

      Attack: {{ playerItem?.mainWeapon.minDmg }} -
      {{ playerItem?.mainWeapon.maxDmg }}<br>

    dex: {{player.dex}}<br>
    evade: {{player.evade}}<br>
    defense: {{player?.defense}}<br>
    gold: {{ player?.gold }}<br>
    points: {{ player?.points }}<br>

  </div>
  <div class="opponent-container" >
    <div class="opponent" *ngIf="enemyHp > 0">
      <h3><b>{{this.thisEnemy?.name }} - HP: {{ enemyHp }}</b></h3>
        Attack: {{this.thisEnemy?.minDmg}} - {{this.thisEnemy?.maxDmg}}<br>
        To Hit: {{this.thisEnemy?.minHit}} - {{this.thisEnemy?.maxHit}}<br>
        speed: {{this.thisEnemy?.minFlee}} - {{this.thisEnemy?.maxFlee}}<br>
        evade: {{this.thisEnemy?.toHit}}<br>
        Ability: {{this.thisEnemy?.special}}<br>
        gold: {{this.thisEnemy?.gold}}<br>
        points: {{this.thisEnemy?.points}}
      </div>
  </div>
  <div class="output">
    <p *ngFor="let out of central.output; let last = last"  [ngClass]="{last: last}">
      {{out}}

  </div>
</div>




