
<div class="button-row">
  <div class="menu">
    <button
     [disabled]="enemyHp > 0"
      mat-raised-button
      (click)="menuModal()">
      Open Inventory

    </button>
  </div>
  <div class="merchant">
    <button
     [disabled]="enemyHp > 0 || central.merchantButtonDisabled"
      mat-raised-button
      (click)="merchantModal()">
      Talk to Merchant
    </button>
  </div>
  <div class="get-enemy">
    <button
     [disabled]="enemyHp > 0 || !central.location.enemies"
       mat-raised-button
      (click)="central.getEnemy()">
      Search Area
    </button>
  </div>
</div>

<div class="status-row">
  <div class="attack">
    <button
     mat-raised-button
    [disabled]="wait || player.hp < 1"
    (click)="attack()">
      Attack

    </button>
  <div>
    <button class="item"
     mat-raised-button
    [disabled]="wait || player.hp < 1">
      <mat-form-field>
          Item
        <mat-select class="select">
          <mat-option class="option"
            *ngFor="let item of items"
            [value]="item"
            (click)="useItemBattle(item)"
          >
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </button>
  </div>
  <div >
    <button
    class="flee"
    mat-raised-button
    [disabled]="wait || player.hp < 1"
    (click)="flee()"
    >Flee
  </button>
  </div>
</div>
  <div class="player-stats">
    <div class="player-data">
      <h3><b>HP: {{ player?.hp }}/{{ player?.maxHp }}</b></h3>
      <b>Weapon:</b> {{ playerItem?.mainWeapon.name }}<br>

        <b>Attack:</b> {{ playerItem?.mainWeapon.minDmg }} -
        {{ playerItem?.mainWeapon.maxDmg }}<br>

      <b>dex:</b> {{player.dex}}<br>
      <b>evade:</b> {{player.evade}}<br>
      <b>defense:</b> {{player?.defense}}<br>
      <b>gold:</b> {{ player?.gold }}<br>
      <b>points:</b> {{ player?.points }}<br>
  </div>

  </div>
  <div class="opponent-container" >
    <div class="opponent" *ngIf="enemyHp > 0">
      <h3><b>{{this.thisEnemy?.name }} - HP: {{ enemyHp }}</b></h3>
        <b>Attack:</b> {{this.thisEnemy?.minDmg}} - {{this.thisEnemy?.maxDmg}}<br>
        <b>To Hit:</b> {{this.thisEnemy?.minHit}} - {{this.thisEnemy?.maxHit}}<br>
        <b>speed:</b> {{this.thisEnemy?.minFlee}} - {{this.thisEnemy?.maxFlee}}<br>
        <b>evade:</b> {{this.thisEnemy?.toHit}}<br>
        <b>Ability:</b> {{this.thisEnemy?.special}}<br>
        <b>gold:</b> {{this.thisEnemy?.gold}}<br>
        <b>points:</b> {{this.thisEnemy?.points}}
      </div>
  </div>
  <div class="output">
    <p *ngFor="let out of central.output; let last = last"  [ngClass]="{last: last}">
      {{out}}

  </div>
</div>




