
.status-row {
  border: 1px solid gray;
  border-radius: 10px;
  .attack {
    display: flexbox;
    float: left;
    font-size: 20;
    margin-left: 5px;
      button{
        display: flex;
        line-height: 57px;
      }
      button:disabled{
        background-color: white;
        color: lightgrey;
      }
    }
  .player-stats {
    border: 1px solid gray;
    border-radius: 5px;
    h3{
      color: blue;
      font-size: 1.1rem;
      margin-top: 2%;
      margin-bottom: -1%;
    }
    .player-data {
      margin-left: 10%;
    }
  }
}
.opponent-container {
  display: flexbox;
  border: 1px solid #808080;
    border-radius: 5px;
    height: 100%;
  .opponent {
    display: flexbox;
    margin-left: 10%;
    h3 {
      color: green;
      font-size: 1.1rem;
      margin-top: 2%;
      margin-bottom: -1%;
    }
  }
}
.output {
  display: flexbox;
  clear: none;
  margin-left: 2%;
  p {
    display: flex;
    clear: left;
    font-size: 1.2rem;
  }
  .last{
    border-radius: 5px;
    background-color: rgba(226, 226, 226, 0.5);
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.enemy-dmg-output-start{
  position: absolute;
  color:white;
    top: 270px;
    left: 67%;
    z-index: 2;
    font-size: 40px;
    transition: all 1.49s linear;
}
.enemy-dmg-output-end{
  @extend .enemy-dmg-output-start;
  transform: translate(0px,-50px);

}
.player-dmg-output-start{
  position: absolute;
  color: white;
    top: 300px;
    left: 28%;
    font-size: 40px;
    z-index: 1000;
    transition: all 1.49s linear;

}
.player-dmg-output-end{
  @extend .player-dmg-output-start;
  transform: translate(0px,-50px);
}

