<div class="dialog">
  <div class="inventory">
    <h2>Main-Hand Weapons</h2>
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let item of weaponGroup" [value]="item" (click)="equipWeapon(item)">
        {{item.name}} - dmg: {{item.minDmg}}-{{item.maxDmg}} | dex: {{item.dex}} | sp: {{item.special}}
      </mat-list-option>
    </mat-selection-list>
    <hr>
    <h2>Off-Hand Items</h2>
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let item of secondaryGroup" [value]="item" (click)="equipSecondary(item)">
        {{item.name}} - +dex: {{item.dex}} | +min: {{item.minDmg}} | +hp: {{item.hp}}
      </mat-list-option>
    </mat-selection-list>
    <hr>
    <h2>Armor</h2>
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let item of armorGroup" [value]="item" (click)="equipArmor(item)">
        {{item.name}} - def: {{item.defense}} | ev: {{item.evade}}
      </mat-list-option>
    </mat-selection-list>
    <hr>
    <h2>Items</h2>
    <mat-accordion>
      <mat-expansion-panel class="expansion-panel"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
          <mat-panel-title class="title">
              Items
          </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
          <mat-list-item *ngFor="let item of items">
              <mat-option (click)="useItem(item)">
                  {{item.name}}
              </mat-option>
          </mat-list-item>
          </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="equipped">
    <h2>Equpped:</h2>
    <h3><b>Main:</b> {{showEquipped?.mainWeapon?.name}}</h3>
    <h3><b>Off-hand:</b> {{showEquipped?.secondary?.name}}</h3>
    <h3><b>Armor:</b> {{showEquipped?.armor?.name}}</h3>
    <p class="hp-output"><b>HP: {{hp}}/{{maxHp}}</b></p>
  </div>
  <button class="exit-button"
    mat-raised-button color="primary"
    [mat-dialog-close]="equip"
  >
    EXIT
  </button>
</div>
