.dialog{
  width: 100%;
  .inventory{
    display: flexbox;
    float:left;
    width: 60%;
    border-right: 1px solid gray
  }
  .equipped{
    display: flexbox;
    width: 35%;
    float: left;
    margin-left: 4%;
  }
  .exit-button{
    position: relative;
    bottom: -135px;
    line-height: 70px;
    width: 100px;
    right: -4%;
  }
}

