
<mat-accordion>
    <mat-expansion-panel class="expansion-panel"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Main Weapons
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let item of mainWeapons">
            <button  mat-raised-button (click)="buyItem(item)">
                {{item.name}}
                minDmg: {{item.minDmg}}
                maxDmg: {{item.maxDmg}}
                dex: {{item.dex}}
                cost:{{item.cost}}
                special:{{item.special}}
            </button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
</mat-accordion>
<br>
<mat-accordion>
    <mat-expansion-panel class="expansion-panel"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title class="title">
            Off-hand
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
        <mat-list-item *ngFor="let item of secondary">
            <button  mat-raised-button (click)="buyItem(item)">
                {{item.name}}
                +minDmg: {{item.minDmg}}
                +dex: {{item.dex}}
                +hp: {{item.hp}}
                cost:{{item.cost}}
            </button>
        </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>
<br>
<mat-accordion>
    <mat-expansion-panel class="expansion-panel"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title class="title">
            Armor
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
        <mat-list-item *ngFor="let item of armor">
            <button  mat-raised-button (click)="buyItem(item)">
                {{item.name}}
                defense: {{item.defense}}
                evade: {{item.evade}}
                cost:{{item.cost}}
            </button>
        </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>
<br>
<button mat-raised-button [mat-dialog-close]="bounty">Cash out</button>

